<h1>List of checks</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Inn</th>
      <th>Inn check result</th>
      <%= if Bodyguard.permit?(Warehouse.Checks.Policy, :admin, @current_user) do %>
        <th>Ip</th>
      <% end %>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for check <- @checks do %>
    <tr>
      <td><%= check.checkDate %></td>
      <td><%= check.inn %></td>
      <td><%= if check.checkResult do "correct" else "incorrect" end %></td>
      <%= if Bodyguard.permit?(Warehouse.Checks.Policy, :admin, @current_user) do %>
        <td><%= check.ip %></td>
      <% end %>
      <td>
        <%= if Bodyguard.permit?(Warehouse.Checks.Policy, :delete_check, @current_user, check) do %>
          <%= link "Delete", to: Routes.check_path(@conn, :delete, check), method: :delete, data: [confirm: "Are you sure?"] %>
        <% end %>
        <%= if Bodyguard.permit?(Warehouse.Checks.Policy, :admin, @current_user) do %>
          <%= link "Block IP", to: Routes.check_path(@conn, :block, check), method: :post, data: [confirm: "Are you sure?"] %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
